.car-input-outer-container {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.car-input-container {
  width: 74%;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-wrap: wrap;
 
}
.input-container div{
  display: flex;
  gap: 20px;
}
.car-search-btn{
  height: 40px;
  width: 100%;
  background: var(--background-gradient);
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 8px;
}
.car-search-btn:hover{
  background: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);

}
.input-container input ,.input-container p, .input-container button{
  padding: 10px 14px;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  height: 50px;
  width: 100%;
}
/* 
.input-container p{
    display: flex;
    align-items: center;
} */